.SingInForm {
    position: absolute;
    width: 650px;
    height: 414px;
    left: 400px;
    top: 267px;
    background: #212729;
}

.buttonSingIn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    position: absolute;
    width: 225px;
    height: 40px;
    left: 325px;
    top: 310px;

    /* Primary/Contrast */

    border: 2px solid #FA4616;
    box-sizing: border-box;
    border-radius: 4px;
}

.forgotPassword {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px 10px;

    position: absolute;
    left: 101px;
    top: 315px;
}

.buttonSingInBox {
    left: 325px;
    top: 310px;
}

.inputEmail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;

    position: absolute;
    width: 450px;
    height: 45px;
    left: 100px;
    top: 64px;
}

.inputPassword {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;

    position: absolute;
    left: 100px;
    top: 131px;
}

.alertBox{
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    left: 603px;
    height: 740px;
    width: 375px;
}