.leftSideBOX {
    position: absolute;
    width: 285px;
    height: 943px;
    left: 2px;
    top: 83px;
    background: rgba(33, 39, 41, 0.5);
    border-right: 3px solid #FA4616;
}

.textActionMenu {
    width: 108px;
    height: 26px;
    left: 96px;
    top: 4px;
}

.actionMenu {
    position: absolute;
    top: 37px;
    height: 764px;
    width: 288px;
    border-top: 3px solid #FA4616;
    border-bottom: 3px solid #FA4616;
}

.buttonCreateFolder {
    width: 225px;
    height: 40px;
    left: 36px;
    top: 23px;
}

.buttonAddFiles {
    width: 225px;
    height: 40px;
    left: 36px;
    top: 81px;
}

.buttonShareSelected {
    width: 225px;
    height: 40px;
    left: 36px;
    top: 142px;
}

.buttonDeleteSelected {
    width: 225px;
    height: 40px;
    left: 36px;
    top: 200px;
}

.buttonPreviousFolder {
    width: 225px;
    height: 40px;
    left: 36px;
    top: 258px;
}

.buttonAvailableFile {
    width: 225px;
    height: 40px;
    left: 36px;
    top: 316px;
}

.textYourSpace {
    width: 88px;
    height: 26px;
    left: 92px;
    top: 808px;
}

.spaceBox {
    position: absolute;
    top: 839px;
    height: 104px;
    width: 288px;
    border-top: 3px solid #FA4616;
}

.rectangleMemoryValue {
    position: absolute;
    width: 225px;
    height: 23px;
    left: 30px;
    top: 20px;

    background: linear-gradient(270deg, rgba(232, 212, 212, 0) 4%, rgba(103, 236, 125, 0) 26.99%, rgba(88, 239, 115, 0) 27%, rgba(95, 238, 120, 0) 29.87%, rgba(154, 227, 160, 0) 29.88%, rgba(0, 255, 56, 0.5) 32.42%, rgba(0, 255, 25, 0.5) 46.17%, rgba(0, 255, 25, 0.5) 52.06%, rgba(0, 255, 25, 0.5) 73.48%, rgba(0, 255, 25, 0.5) 96%);
    border: 3px solid #FA4616;
    box-sizing: border-box;
    border-radius: 12px;
}

.userMemoryValue {
    position: absolute;
    width: 144px;
    height: 26px;
    left: 70px;
    top: 59px;
}

.middleSideBox {
    position: absolute;
    width: 776px;
    height: 943px;
    left: 291px;
}

.foldersBox {
    height: 225px;
}

.iconFolderBox {
    position: absolute;
    top: 16.5px;
    left: 34.25px;
    color: #FA4616;
}

.textFolderBox {
    position: absolute;
    top: 17px;
    left: 70px;
}

.customizedTable {
    position: absolute;
    top: 283px;
}

.filesPenalHeader {
    width: 776px;
    height: 58px;
    border-top: 3px solid #FA4616;
}

.filesPenalHeaderCheckBox {
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 118px;
    height: 42px;
    left: 627px;
    top: 233px;
}

.uploadFileIcon {
    position: relative;
    top: 14.25px;
    left: 33px;
    /* Primary/Contrast */
    color: #FA4616;
}

.textFilesPenalHeader {
    position: absolute;
    width: 38px;
    height: 20px;
    left: 70px;
    top: 245px;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: 0.46px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.checkboxFilesPenalHeader span {
    position: relative;
    left: 601px;
    top: 6px;
    color: #FA4616;
}

.textCheckboxFilesPenalHeader {
    position: absolute;
    left: 669px;
    top: 245px;
    width: 87px;
    height: 20px;
    color: #FFFFFF;
}

.rightSideBox {
    position: absolute;
    width: 376px;
    height: 943px;
    left: 1069px;
    top: 84px;
    border-left: 3px solid #FA4616;
    background: rgba(33, 39, 41, 0.5);
}

.titleHeaderDetails {
    left: 165px;
    top: 4px;
}

.detailsBox {
    position: absolute;
    border-top: 3px solid #FA4616;
    height: 907px;
    width: 376px;
    top: 118px;
    left: 1069px;
}

.fileIcon {
    position: absolute;
    width: 295px;
    height: 338px;
    left: 38px;
    top: 31px;

    border: 3px solid #FA4616;
    box-sizing: border-box;
    border-radius: 8px;
}

.descriptionFileName {
    position: absolute;
    width: 288px;
    height: 35px;
    left: 38px;
    top: 407px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    /* or 186% */

    letter-spacing: 0.46px;
    border-bottom: 1px solid #FA4616;
    color: #FFFFFF;
}

.descriptionFileWeight {
    position: absolute;
    width: 288px;
    height: 35px;
    left: 38px;
    top: 447px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 26px;
    /* or 217% */

    letter-spacing: 0.46px;

    color: #FFFFFF;
}

.descriptionFileTimeStamp{
    position: absolute;
    width: 109px;
    height: 35px;
    left: 38px;
    top: 487px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    /* or 186% */

    letter-spacing: 0.46px;

    color: #FFFFFF;
}

.descriptionSharedWithText{
    position: absolute;
    width: 98px;
    height: 26px;
    left: 33px;
    top: 586px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    /* identical to box height, or 186% */

    letter-spacing: 0.46px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.descriptionFileShareWhum{
    position: absolute;
    width: 288px;
    height: 35px;
    left: 33px;
    top: 623px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 26px;
    /* or 217% */

    letter-spacing: 0.46px;

    color: #FFFFFF;
}

.descriptionSharedLinkText{
    position: absolute;
    width: 93px;
    height: 26px;
    left: 38px;
    top: 682px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    /* identical to box height, or 186% */

    letter-spacing: 0.46px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.descriptionButtonLink{
    position: absolute;
    width: 293px;
    height: 45px;
    left: 38px;
    top: 719px;

    border: 3px solid #FA4616;
    box-sizing: border-box;
    border-radius: 8px;
    overflow-x:hidden
}

.buttonDeleteSheredFile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 119px;
    height: 40px;
    left: 43px;
    top: 830px;

    /* Primary/Contrast */

    border: 2px solid #FA4616;
    box-sizing: border-box;
    border-radius: 4px;
}

.alertBox{
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    left: 1036px;
    top: 944px;
    width: 375px;
}